APP_ENV=production
APP_DEBUG=false
APP_URL=https://прото.плюсчат.рф
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=pluschat
DB_USERNAME=change_me
DB_PASSWORD=change_me
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
APP_KEY=change_me
