APP_ENV=production
CALL_DB_DSN=pgsql:host=127.0.0.1;port=5432;dbname=pluschat_calls
CALL_DB_USERNAME=pluschat
CALL_DB_PASSWORD=CHANGE_ME
CALL_SHARED_SECRET=CHANGE_ME_TO_64_RANDOM_BYTES
CALL_ALLOWED_ORIGINS=https://прото.плюсчат.рф
CALL_PUBLIC_WSS=wss://tell.плюсчат.рф/ws
CALL_MAX_DURATION=7200
